antlr4-python3-runtime==4.9.3
Bottleneck==1.4.2
contourpy==1.3.1
cycler==0.12.1
fonttools==4.56.0
hydra-core==1.3.2
kiwisolver==1.4.7
matplotlib==3.10.1
meson==1.7.0
meson-python==0.17.1
munkres==1.1.4
ninja==1.11.1.4
numexpr==2.10.1
numpy==2.2.4
omegaconf==2.3.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pip==25.0.1
#PyORBIT==3.0.0
pyorbit-tools @ git+https://github.com/austin-hoover/pyorbit-tools.git@v0.0.1
pyparsing==3.2.3
pyproject-metadata==0.9.1
PySide6==6.8.3
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
scipy==1.15.2
setuptools==78.1.0
setuptools-scm==8.2.0
shiboken6==6.8.3
six==1.17.0
sns-ring-model @ git+https://github.com/austin-hoover/sns-ring-model.git@v0.0.1
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
tzdata==2023.3
unicodedata2==16.0.0
wheel==0.45.1
xarray==2025.3.1
